<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="vostok.core" value="https://ci.appveyor.com/nuget/vostok-core" />
        <add key="vostok.hosting" value="https://ci.appveyor.com/nuget/vostok-hosting" />
        <add key="vostok.hosting.core" value="https://ci.appveyor.com/nuget/vostok-hosting-core" />
        <add key="vostok.instrumentation.aspnetcore" value="https://ci.appveyor.com/nuget/vostok-instrumentation-aspnetcore" />
        <add key="vostok.logging.serilog" value="https://ci.appveyor.com/nuget/vostok-logging-serilog" />
    </packageSources>
</configuration>